
<!DOCTYPE html>
<html>
<title>Zelf Karte</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  background-color: #1B2631;
  line-height: 1.8;
}

.navbar {
      margin-bottom: 0;
      background-color: #1B2631;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #14ffec !important;
      background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }

    .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #37424d;
  }

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('/static/background/iphone.jpg');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/static/background/try3.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/static/background/11.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

}


li a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  padding: 10px 20px
}

li a:hover{
  background: #fff;
  color: #1db8e8;
  border-radius: 50px;
}

</style>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style="background-color: #1b2631; height: 100%;"><nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><a class="navbar-brand brandName" href="#"><svg class="bi bi-cart-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>Zelf Karte</a>
      </div>
      <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link mx-2 " href="{{ url_for('launch') }}">HOME<i class="fas fa-home fa-lg p-2 d-none d-md-inline"></i></a></li>
          <li><a class="nav-item nav-link mx-2 " href="{{ url_for('signup') }}">SIGN UP<i class="fas fa-user-plus fa-lg p-2 d-none d-md-inline"></i></a></li>
        <li><a class="nav-item nav-link mx-2 " href="{{ url_for('login') }}">LOGIN<i class="fas fa-user fa-lg p-2 d-none d-md-inline"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-medium w3-hide-small">Imagine a shop on Your Fingertips with </span><span class="w3-hide-small">3 easy steps: </span>Pick,Scan,Buy</span>

  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h4 class="w3-hide-large" style="color: #FFFFFF" align="center"> How about everything on your fingertips?!?!<br>Sounds exciting :)) Isn't it??</p>
    
</div>

<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center" style="color: #FFFFFF">ABOUT US</h3>
  <p class="w3-center" style="color: #FFFFFF"><em>The Zelf Karte Team</em></p>
  <p style="color: #FFFFFF">We, the students of International institute of Technoogy,Hyderabad have put in our efforts towards creating a revolutionary change in the traditional self-service shopping stores.Our high-end technology offers a cashless digital shopping platform where everything you buy adds up to your digital cart on a scan and payment is done online.</p>
  <p style="color: #FFFFFF">We would like to introduce you all to our team which is headed by <strong style="color: #14ffec">MR.ABHISHEK CHAWLA</strong> Other members are Pragya, Pranjal, Samruddhi, Gunjan, Kartik, Dinesh, Yash.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="{{ url_for('static', filename='logo/' + 'xyz.png') }}" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="300" height="300">
    </div>

    <div class="w3-col m6  w3-padding-large">
      <br><br><br>
      <p style="color: #14ffec" class="w3-hide-small">As the name suggests: We have worked towards creating a platform where the customer will not have to wait in long billing queues any more. They simply have to choose their items, pick them up, pay through the Zelf Karte app and go back home with their stuff :))</p>
      <p style="color: #FFFFFF" class="w3-hide-small">This is a great opportunity for the shopkeepers to keep their shops open even in this situation of world-pandemic without having to sit at the shop for the whole time.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16" style="color: #FFFFFF">We're really good at:</p>
  <p class="w3-wide" style="color: #FFFFFF"><i class="fa fa-user" style="color: #FFFFFF"></i>Customer Care</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide" style="color: #FFFFFF"><i class="fa fa-trash" style="color: #FFFFFF"></i>Maintainence</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide" style="color: #FFFFFF"><i class="fa fa-laptop" style="color: #FFFFFF"></i>Tech-aspects</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br>
    Projects Done
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br>
    Meetings
  </div>
</div>

<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide " style="color: #14ffec">WELCOME</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center" style="color: #FFFFFF">OUR STORE</h3>
  <p class="w3-center" style="color: #14ffec"><em>Here are how Zelf Karte stores looks like...</em></p><br></div>

  <!--  <div class="w3-row-padding w3-center">
    <div class="w3-col m6">
      <img src="{{ url_for('static', filename='store_map/' + 'main.png') }}" style="width: 400px; height: 400px;" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist over the mountains">
    </div>
    <div class="w3-col m6">
      <p style="color: #FFFFFF">Any Zelf-Karte store contains a number of vending machines with multiple outlets for the customers. The customers need to enter the quantity of the product, scan the qr-code and pay.....The vending machines will automatically deliver their products. The store is divided into various sections with similar items grouped together.</p>
      
    </div>
</div> -->
<div class="w3-row-padding w3-center w3-section">
  <div class="w3-col m6">
      <p style="color: #14ffec">Any Zelf-Karte store contains a number of vending machines with multiple outlets for the customers. The customers need to enter the quantity of the product, scan the qr-code and pay.....The vending machines will automatically deliver their products. The store is divided into various sections with similar items grouped together.</p>
    
  </div>
    <div class="w3-col m6">
      <img src="{{ url_for('static', filename='store_map/' + 'vending_machine.jpeg') }}" style="width:100%;" onclick="onClick(this)" class="w3-hover-opacity" alt="Coffee beans">
    </div>
    
</div>

<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center" style="color: #FFFFFF">WHERE WE WORK</h3>
  <p class="w3-center" style="color: #14ffec"><em>We'd love your feedback!</em></p>

  <div id="contact" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-5">
      <p style="color:#14ffec;">Contact us and we'll get back to you within 24 hours.</p>
      <p style="color:#FFFFFF;"><span class="glyphicon glyphicon-map-marker"></span> Hyderabad,India</p>
      <p style="color:#FFFFFF;"><span class="glyphicon glyphicon-phone"></span> xxxxxxxxxx</p>
      <p style="color:#FFFFFF;"><span class="glyphicon glyphicon-envelope"></span> Zelfkarte@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <p align="right" style="color:#14ffec;">Have a look on what our users have to say about about us..</p>
        <p align="right" style="color:#14ffec;">We are trying are best to fulfill the needs
        of all aur customers..</p>
        <h4 align="right" style="color: #FFFFFF">Let us know how we can improve...</h4>
        
          <a href="{{ url_for('complains') }}" class="btn btn-default btn-lg col-sm-6 mt-5 mt-md-0 col-md-4 pull-right">Feedback</a>
        
      </div>

        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up" style="color: #14ffec"></span>
  </a>
</footer>

<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>