{% extends "layout.html" %}

{% block nav %}
	<div class="navbar-nav ">
        <a class="nav-item nav-link mx-2 " href="{{ url_for('home') }}">HOME<i
        class="fas fa-home fa-lg p-2 d-none d-md-inline"></i><span class="d-md-none"><i class="fas fa-home px-2"></i></span></a>
    	<a class="nav-item nav-link mx-2 " href="{{ url_for('qrcode') }}">SCAN<i
        class="fas fa-qrcode fa-lg p-2 d-none d-md-inline"></i><span class="d-md-none"><i class="fas fa-qrcode px-2"></i></span></a>
    </div>
{% endblock nav %}

{% block carousel %}
<div style="height: 10vw; background-color: #1B2631"></div>
{% endblock carousel %}

{% block content %}
    <div class="login" style="color: white; height: 100%">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <h1 class="a" align="center">Account Info</h1>
                <div class="Signup">
                    <div class="content-section">
                        <div class="media">
                            <img class="rounded-circle account-img" src="{{ image_file }}">
                            <div class="media-body">
                                <h2 class="account-heading">{{ current_user.username }}</h2>
                                <p class="text-secondary">{{ current_user.email }}</p>
                            </div>
                        </div>
                    </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class='form-control-file') }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
                </div>
        </div>
    </div>
                
        {% endblock content %}