
{% extends "layout.html" %}

{% block nav %}
<div class="navbar-nav ">
    <a class="nav-item nav-link mx-2 " href="{{ url_for('launch') }}">HOME<i
    class="fas fa-home fa-lg p-2 d-none d-md-inline"></i><span class="d-md-none"><i
    class="fas fa-users px-2"></i></span></a>
    <a class="nav-item nav-link mx-2 " href="{{ url_for('about') }}">ABOUT<i
    class="fas fa-users fa-lg p-2 d-none d-md-inline"></i><span class="d-md-none"><i
    class="fas fa-users px-2"></i></span></a>
    <a class="nav-item nav-link mx-2 " href="{{ url_for('signup') }}">SIGN UP<i
        class="fas fa-user-plus faa-lg p-2 d-none d-md-inline"></i><span class="d-md-none"><i
            class="fas fa-user-plus px-2"></i></span></a>
</div>

{% endblock nav %}

{% block carousel %}
<div style="height: 10vw; background-color: #1B2631"></div>
{% endblock carousel %}

{% block content %}
    <div class="login" style="color: white">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <h1 class="a" align="center">Login</h1>
                <div class="Signup">
                    <div class="content-section">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                    <i class="fa fa-eye" onclick="myFunction_signup()" style="color:white"></i>
                                </div>
                                <div class="form-check">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                            <small class="text-muted ml-2">
                                <a href="#">Forgot Password?</a>
                            </small>
                        </form>
                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Don't Have An Account? <a class="ml-2" href="{{ url_for('signup') }}">Sign Up</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}