html,body {
  height: 100%;
}
.brandName {
  font-family: 'Architects Daughter', cursive;
  color: #14ffec;
}

.shownpart
{
    padding: 9%;
    text-align: center;
    text-transform: uppercase;
    background: url(https://images.unsplash.com/photo-1576719218362-01af43ab192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    background-position: center;
    background-size: cover;
    color: #0d7377;
    font-family: 'Montserrat', sans-serif;
}

.login {
    padding: 9%;
    text-align: center;
    text-transform: uppercase;
    color: #0d7377;
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2631;
    height: 100%;
}

hr { 
    height: 1.619vw; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0.054vw 0 0 0; 
    border-radius: 1.079vw; 
  } 
  hr:before { 
    display: block; 
    content: ""; 
    height: 1.619vw; 
    margin-top: -1.673vw; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 0.054vw 0; 
    border-radius: 1.079vw; 
  }

.fa-user-plus, .fa-user 
{
    font-size: x-large;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#14ffec;
}

.Signup{
  width:30.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.inputbox{ 

 border-radius:0.270vw; 

}

.a{
  color: #14ffec;
}

@media screen and (max-width: 950px) {
  .Signup{
  width:80.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: hidden;
  text-overflow: ellipsis; 
  }

}

@media screen and (max-width: 710px) {
  .Signup{
  width:80.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: hidden;
  text-overflow: ellipsis; 
  }

}

#carouselExampleSlidesOnly{
  max-height: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  bottom: -50px;
}

#reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 40.983vw;
}

@media screen and (max-width: 945px) {
  #reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 55.983vw;
  font-size: 1.5vw;
  }
}

@media screen and (max-width: 650px) {
  #reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 70.983vw;
  font-size: 2.5vw;
}

}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

