html,body {
  height: 100%;
}
.brandName {
  font-family: 'Architects Daughter', cursive;
  color: #14ffec;
}

.shownpart
{
    padding: 9%;
    text-align: center;
    text-transform: uppercase;
    background: url(https://images.unsplash.com/photo-1576719218362-01af43ab192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    background-position: center;
    background-size: cover;
    color: #0d7377;
    font-family: 'Montserrat', sans-serif;
}

.login {
    padding: 9%;
    text-align: center;
    text-transform: uppercase;
    color: #0d7377;
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2631;
}

hr { 
    height: 1.619vw; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0.054vw 0 0 0; 
    border-radius: 1.079vw; 
  } 

hr:before { 
  display: block; 
  content: ""; 
  height: 1.619vw; 
  margin-top: -1.673vw; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 0.054vw 0; 
  border-radius: 1.079vw; 
}

.fa-user-plus, .fa-user 
{
    font-size: x-large;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#14ffec;
}

.Signup{
  width:30.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: scroll;
  text-overflow: ellipsis; 
}

.inputbox{ 

 border-radius:0.270vw; 

}

.a{
  color: #14ffec;
}

@media screen and (max-width: 950px) {
  .Signup{
  width:80.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: scroll;
  text-overflow: ellipsis; 
  }

}

@media screen and (max-width: 710px) {
  .Signup{
  width:80.983vw;
  border: 0.270vw solid gray;
  border-radius:1.349vw; 
  box-shadow: 0 0 0.162vw 0 rgba(0,0,0,0.1);
  padding: 2.698vw;
  margin: 10% auto 0;
  text-align: left;
  font-family: 'Montserrat', cursive;
  color: #14ffec;
  overflow: scroll;
  text-overflow: ellipsis; 
  }

}

#carouselExampleSlidesOnly{
  max-height: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  bottom: -50px;
}

#reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 40.983vw;
}

@media screen and (max-width: 945px) {
  #reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 55.983vw;
  font-size: 1.5vw;
  }
}

@media screen and (max-width: 650px) {
  #reader {
  position: relative;
  margin: auto;
  bottom: -15vw;
  color: white;
  width: 70.983vw;
  font-size: 2.5vw;
  }
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

html, .shoplist_body
{
  height: 100%;
  background: #1B2631;
  color: #f4f6ff;
}
.shoplist
{
  position: relative;
  top: 80px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.shoplist h3
{
  text-align: left;
}
.txtb{
  width: 80%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 25px;
  color: #14ffec;
}
.task{
  border-radius: 25px;
  width: 100%;
  background: rgba(255,255,255,0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: scroll;
  text-align: left;
  font-weight: 400;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px; 
}
.addButton
{
  float: none;
  font-size: 25px;
  font-weight: bold;
}

.task i{
  color: #323232;
  float: right;
  margin-left: 25px;
  cursor: pointer;
}

.notcomp .task{
  background: #14ffec;
  color: #212121;
}

.comp .task{
  background: #0d7377;
  color: #212121;
}


#cart_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cart_table td, #cart_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart_table tr:nth-child(even){background-color: #f2f2f2;}

#cart_table tr:hover {background-color: #ddd;}

#cart_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3399ff;
  color: white;
}